.chips {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: fit-content;
  padding: 5px;
}

.chips__label.selected {
  background-color: purple; /* Selected background color */
  color: white;
}
